{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>  
    <meta charset="utf-8">
    <title>Lista de Livros</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>

    <h1>Lista de Livros</h1>

    <form method="get">
        <input type="text" name="q" placeholder="Buscar livro na Open Library">
        <button type="submit">Pesquisar</button>
    </form>


    <ul>
        {% for livro in livros %}
            <li>
                {% if livro.capa_url %}
                    <img src="{{ livro.capa_url }}" alt="Capa de {{ livro.titulo }}" width="80">
                {% endif %}
                <div>
                    <strong>{{ livro.titulo }}</strong><br>
                    Autor: {{ livro.autor }}<br>
                    {% if livro.data_publicacao %}
                        Publicado em: {{ livro.data_publicacao|date:"Y" }}<br>
                    {% endif %}
                    <div>
                        <a href="{% url 'deletar_livro' livro.id %}">Deletar</a> |
                        <a href="{% url 'atualizar_livro' livro.id %}">Atualizar</a>
                    </div>
                </div>
            </li>
            <hr>
        {% empty %}
            <li>Nenhum livro cadastrado.</li>
        {% endfor %}
    </ul>

    <a href="{% url 'create' %}">Adicionar livro</a>

</body>
</html>